body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
  color: #333;
}
.extraLarge{
    width: 100%;
}
.header-bar {
  background-color: #1f2a37;
  padding: 15px 0;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.back {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}

.main {
  margin-top: 30px;
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  flex: 1 1 350px;
}

.details-card {
  flex: 1 1 100%;
}

.card h3 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #888;
}

.card p {
  font-size: 15px;
  margin: 5px 0;
}

.status.active {
  color: green;
  font-weight: bold;
}

.tags-box {
  margin-top: 20px;
}

.tags-box input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.history {
  margin-top: 40px;
}

.history h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.note {
  background: #fff;
  border-left: 4px solid #3b82f6;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.note span {
  display: block;
  font-size: 13px;
  color: #888;
  margin-bottom: 5px;
}

.note p {
  font-size: 14px;
  margin: 5px 0;
}

.note ul {
  padding-left: 20px;
  margin-top: 5px;
  font-size: 14px;
}
